<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>PawPal</title>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="stylesheets/dashboard.css" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
</head>
<body id="page-top">
	<%- include dashnavbar.ejs %>

	<div id="wrapper">
		<%- include dashsidebarct.ejs %>

		<div id="content-wrapper">
			<div class="container-fluid">
				<%- include name.ejs %>

				<div class="card mb-3">
					<div class="card-header">
						<i class="fas fa-dice"></i> &nbsp; Placed Bids
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
								<thead>
									<tr>
										<th>No.</th>
										<th>Owner Name</th>
										<th>Start Date</th>
										<th>End date</th>
										<th>Price</th>
										<th>Accept</th>
									</tr>
								</thead>
								<tfoot>
									<th colspan="2">Total: <i><%= ctx %></i></th>
								</tfoot>
								<tbody>
									<% for(var i=1; i <= tbl.length; i++) { %>
									<tr>
										<td><%= i %></td>
										<td><%= tbl[i - 1].oname%></td>
										<td><%= tbl[i - 1].ostart_date.toLocaleDateString()%></td>
										<td><%= tbl[i - 1].oend_date.toLocaleDateString()%></td>
										<td><%= tbl[i - 1].bidded_price_per_hour%></td>
										<td>
											<form id="acceptBid" method="post" role="form" action="acceptBid">
												<input name="bid", id="bid", type="hidden", value="<%=bid%>">
												<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >
													Accept Bid
												</button>
											</form>
										</td>
									</tr>
									<% } %>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<%- include bottomscript.ejs %>
</body>
</html>
